* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FBF9FF;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: sans-serif;
}

header {
    padding: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    /* text-align: center; */
    color: white;
    background-color: #f96e46;
    font-family: "Roboto", sans-serif;
    
    display: flex;
    flex-direction: column;
    gap: .25em;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* position: relative; 
    */
}

#header_top {
    display: flex;
    gap: 1em;
    align-items: center;
}

#header_top h1 {
    /* padding-right: .5em; */
    /* border-right: 1px solid white; */
}

.button_container {
    /* background-color: red; */
    border-left: 1px solid white;
    padding-left: 1em;
}

#question_button {
    display: flex;
    align-items: center;
    padding: .25em;
    border-radius: 7px;
}

#question_button:hover {
    color: black;
    background-color: white;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: inherit;
    cursor: auto;
}

#support_button {
    background: none;
    border: none;

    color: white;

    display: flex;
    align-items: center;
    padding: .25em;
    border-radius: 7px;
}

#support_button:hover {
    color: black;
    cursor: pointer;
    background-color: white;
}


#header_bottom p {
    font-size: .75em;
}

#feedback_container {
    margin-left: auto;
}

#feedback_form {
    /* margin-bottom: -1%; */
    right: 2em;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: .15em;
    transform: translateY(12%);
}

textarea {
    resize: none;
    border: 1px solid black;
}

button[type="submit"] {
    border: none;
    background: none;
    
    border: 1px solid white;
    /* border-top: none; */
    border-radius: 5px;
    /* border-bottom-left-radius: 5px; */
    /* border-bottom-right-radius: 5px; */

    color: white;
    font-weight: bolder;
    font-size: .65em;
    padding: .25em;
}

button[type="submit"]:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}


/* TODO Add help page */
/* #help-bar {
    padding: 1vh;
    position: absolute;
    top: 0;
    left: 0;
}

#help-bar:hover {
    background-color: red;
} */

#content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    margin-top: 5vh;
}

/* #region ( Canvas ) */
#canvas_container {
    position: relative;
    width: max-content;
}

#canvas_container.fullscreen_canvas_container canvas {
    display: none;
} 

#canvas_container.fullscreen_canvas_container #background-canvas {
    position: static;
} 

canvas {
    border-radius: 30px;
    position: relative;
    z-index: 1;
}

canvas:hover {
    cursor: grab;
}

#background-canvas {
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 30px;
    background-color: black;
    border: 3px solid #F96E46;
    z-index: 0;
}

#grid_canvas {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    border: 3px solid #F96E46;
}

#canvas_upload {
    background-color: red;
    position: absolute;
    z-index: 2;
    opacity: 0;
    border-radius: 30px;
    border: 3px solid #F96E46;
}

#canvas_upload:hover {
    cursor: grab;
}

#image_canvas {
    background-color: black;
    border: 3px solid #F96E46;
}

/* #endregion */

/* #region ( Toolbar ) */
#sidebar {
    color: white;
    text-align: center;
    background-color: black;

    width: 5.5em;
    margin-right: 2vh;

    border-radius: 30px; 
    border: 3px solid #F96E46;
    
    overflow-y: auto;
    overflow-x: hidden;
}

#toolbar {
    height: 3em;
    background-color: black;
    border: 3px solid #F96E46;
    margin: 2vh auto 0 auto;
    border-radius: 30px;
    color: white;
    padding: 0.75em 0;
    display: flex;

    overflow-x: auto;
}

.toolbar_option {
    display: flex;
    width: max-content;
    margin-left: 0.75em;
    align-items: center;
}

#units {
    height: 3vh;
    border: none;
    text-align: center;
    margin-left: 0.75em;
    border-radius: 10px;
    padding: 0 0.5em;
}

#units:hover {
    color: #FBF9FF;
    background-color: #F96E46;
}

input[type="number"] {
    width: 5em;
    height: 3vh;
    border: none;
    text-align: center;
    border-radius: 10px;
    margin-left: 0.75em;
}

#stroke_alpha_input {
    width: 8em;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

/* DEPRECATED */
/* input[type="color"] {
    border: none;
    width: 5em;
    height: 3vh;
    border-radius: 10px;
    opacity: 0;
}

input[type="color"]:hover {
    border: 1px solid #F96E46;
    cursor: pointer;
} */

input[type="color"] {
    opacity: 0;
}

#color_picker_empty_div {
    border-radius: 10px;
    width: 5em;
    height: 3vh;
    background-color: #39FF14;
}

#color_picker_empty_div:hover {
    border: 3px solid #F96E46;

}

#color-picker-svg {
    margin-right: 0.75em;
}

.colorpick-eyedropper-input-trigger {
    display: none;
}
/* #endregion */

/* #region ( Misc ) */
hr {
    color: white;
    width: 75%;
    margin: 0.5em auto 0 auto
}

/* TODO Fix bug where these disappear on smaller screens */
.vertical-hr {
    width: 1px;
    height: 100%;
    background-color: white;
    margin-left: 0.75em;
}

#toolbar svg {
    min-width: 48px;
    min-height: 48px;
    max-height: 48px;
    max-width: 48px;
}

h4 {
    font-size: 0.6em;
}

/* #endregion */

/* #region ( SVG Buttons ) */ 
svg {
    width: 100%;
}

.svg_button:hover + svg {
    background-color: #f96d466c;
}

.svg_button.selected + svg {
    background-color: #f96d46b4;
}

.svg_button_container {
    position: relative;
    margin-top: 0.75em;
}

.svg_button {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

#grid-grab-container {
    position: relative;
}
/* #endregion */
